.home {
    height: 70vh;
    margin-top: 20vh;
    margin-bottom: 10vh;

    .jumbotron {
        padding: 30px;

        h1 {
            font-size: 3.5rem;
        }

        p {
            font-size: 2rem;
        }
    }

    .example {
        height: 180px;
    }

    .intents {
        margin-left: 20px;
    }

    .intent {
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .intent-icon {
        padding-right: 15px;
    }

    .example-text {
        margin: 30px;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #8338ec;
        font-weight: 500;

        .bi {
            padding-right: 12px;
        }
    }

    .intent-textarea {
        font-family: "Times New Roman", Times, serif;
        font-style: italic;
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding: 30px;
    }
}