@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&family=Montserrat:wght@100;300;700&family=Roboto:wght@100;300;700&display=swap");

body {
    background: #f6f6f6;
    font-family: "Poppins", sans-serif;
}

form {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.card {
    box-shadow: 1px 1px 5px #ddd;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background: #404040;
    color: white;
}

.card-header h1,
h2,
h3,
h4,
h5,
h6 {
    padding-top: 0.5rem !important;
}

.bold {
    font-weight: 700;
}

.text-purple {
    color: #8338ec;
}

.text-red {
    color: #ff006e;
}

.btn {
    font-weight: 700;
    font-size: 1.2rem;
}

.btn-primary {
    border-color: #8338ec;
    background-color: #8338ec;
}

.btn-primary:hover {
    border-color: #ffbe0b;
    background-color: #8338ec;
    color: #ffbe0b;
}

.btn-outline-secondary:hover {
    color: #8338ec;
    background-color: #ffbe0b;
}

.btn-green {
    background-color: #38b000;
}

.btn-green:hover {
    background-color: #008000;
}

.btn-outline-default {
    border-color: #ff006e;
    color: #ff006e;
}

.btn-outline-default:hover {
    border-color: #ff006e;
    color: white;
    background: #ff006e;
}

.btn-default {
    border-color: #ff006e;
    color: white;
    background: #ff006e;
}

.btn-default:hover {
    color: #ffbe0b;
}

span.bi {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
}

i.bi {
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
}

.vertical-center-container {
    position: relative;
    height: 100%;

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
    }
}

.text-blue {
    color: #1976d2 !important;
}

.text-green {
    color: #008000 !important;
}

.text-red {
    color: #d90429 !important;
}

.text {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.instructions {
    font-size: 1.4rem;
    padding-top: 50px;
}

.original-text {
    .text {
        font-size: 1.6rem;
    }
}

.app {
    margin-top: 10px;
    margin-bottom: 40px;
}
