body {
    background: #f6f6f6;
}

.card {
    box-shadow: 1px 1px 5px #ddd;
    /* min-width: 600px;
    width: 50%; */
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background: #8338ec;
    color: white;
    text-transform: uppercase;
}

.card-header h5 {
    padding-top: 0.5rem !important;
}

.utterance .word {
    font-size: 1.3rem; 
    padding: 3px 7px;
    margin: 0 4px;
    border-radius: 8px;
    border: 1px solid #8338ec;
    color: #8338ec;
}

.utterance .word.selected {
    color: #fff;
    background: #8338ec;
}

.utterance .context button {
    float: left;
}

.utterance .context h5 {
    float: left;
    min-width: 75px;
    margin-left: 12px;
    padding-top: 8px;
    color: #8338ec;
}

.intent {
    color: #8338ec;
    line-height: 2rem;
}

.intent.selection {
    color: #8338ec;
    background: #fff;
    border: 1px solid #8338ec;
    border-radius: 8px;
}

.intent.selection.selected {
    color: #fff;
    background: #8338ec;
}

.intent.selection input {
    margin-top: 8px;
    margin-left: -16px;
    margin-right: 16px;
}

.intent-icon {
    padding-right: 15px;
}

.text-red {
    color: #ff006e
}

.btn-primary {
    background-color: #3a86ff
}

.btn-green {
    background-color: #38b000
}

.btn-green:hover {
    background-color: #008000
}

.btn-outline-default {
    border-color: #ff006e;
    color: #ff006e
}

.btn-outline-default:hover {
    border-color: #ff006e;
    color: white;
    background: #ff006e;
}

.btn-default {
    border-color: #ff006e;
    color: white;
    background: #ff006e;
}

.btn-default:hover {
    color: #ffbe0b;
}

.verification .utterance {
    font-size: 1.5rem;
    padding: 3px 6px;
    border-radius: 8px;
    margin: 30px;
}

.selections .intent {
    text-transform: none;
    background: #fff;
    border: 1px rgb(180, 168, 168);
    border-radius: 8px;
    padding: 3px 8px;
}

.selections .utterance {
    font-size: 1.5rem;
}

.selections .selection {
    padding-left: 16px;
}

.selections .selection .selection-head {
    background: #fff;
    color: #8338ec;
}

.selections .selection .selection-text {
    background: #8338ec;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    border: 1px #8338ec;
    border-radius: 8px;
    padding: 4px 8px;
    margin-left: 8px;
}

.example .help {
    background: #f6f6f6;
    font-size: 1.3rem;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 8px;
    border-color: #6c757d;
    box-shadow: inset rgb(0 0 0 / 11%) 0 0 0 1px;
}

.example .help .hint {
    font-size: 1rem;
}

.example .selection{
    padding: 4px 16px;
}